
// Colores
//Primer esquema
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;

//Segundo esquema
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

//Tercer esquema
$erie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70; 

//Tipografía
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//pesos de fuentes
$regular: 400;
$light: 300;
$black: 900;

//Tamaños de fuente 
$xx-large: 70px; 
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
$small-text: 50px;

